<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Qase suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <parameter name="browser" value="chrome"/>

    <test name="UI Tests">
        <classes>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.ProjectTest"/>
            <class name="tests.ui.TestCaseTest"/>
            <class name="tests.ui.TestRunTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="tests.api.LoginAPITest"/>
            <class name="tests.api.ProjectAPITest"/>
            <class name="tests.api.CaseAPITest"/>
            <class name="tests.api.DefectsAPITest"/>
            <class name="tests.api.NegativeAPITest"/>
            <class name="tests.api.ResultAPITest"/>
        </classes>
    </test>
</suite>