<suite name="CrossBrowser">

    <test name="Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.ProjectTest"/>
        </classes>
    </test>

    <test name="Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.ProjectTest"/>
        </classes>
    </test>

</suite>